@import "shared/fonts";
// Pages
@import "./index";
// Components
@import "./header";

html, body {
  height: 100%;
  width: 100%;
  font-family: 'OpenSans', 'Helvetica', sans-serif;
}

.self-typed {
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
}

.absolute {
  position: absolute;
}

.base-page {
  padding-top: 150px;
}

.clickable {
  cursor: pointer;
}